doctype html
html 
    head
       title Sam Dance Acedemy 
       block style 
       block script  
    
    body 
      nav#navbar
       ul
         div#logo
           img(src="../static/hello.png", alt="")
           h1.pos SDA
         li  #[a(href="/") Home]
         li #[a(href="/") About]
         li #[a(href="/") Class Info]
         li #[a(href="/contact") Contact US]
         li #[a(href="/") Services]  
      block content 

    section#footersection
       | copyright ©️ 2024 Sam Dance Academy.com |All rights reserverd