extends base.pug 
block style 
   style
    include ../static/style.css
block script     
   script(src="../static/index.js")    
block content 
  section#intosection 
        div.bold Welcome Sam Dance Academy
        div.small Eat Sleep Dance Repeat
  section#ourmissonsection
       h1  Our Misson 
       div.card 
         h1 Dannce Perfection
         div#box  
           img(src="../static/img.png", alt="")
           h1 Phyciscal Activity
       div.card 
         h3 Dance Our passion
          div#box1  
           img(src="../static/img3.png", alt="")
           h3 Hip Hop
       div.card 
         h1 Expert Teaching
          div#box3 
           img(src="../static/img4.png", alt="")
           h3 Indian Dance       
  section#sponsarsection
     h1  Our Sponsor
      div#sponsar
         img#spon1(src="../static/spon1.png", alt="")
         img#spon2(src="../static/spon2.png", alt="")
         img#spon3(src="../static/spon3.png", alt="")
         img#spon4(src="../static/spon4.png", alt="")
  
  


    
  